body{
    background: rgb(255, 187, 0);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

header,footer,main{
    padding: 20px;
  
    color: #141414;
}
.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header,footer{
    line-height: 60px;
}
main{
    flex: 1;}
    .pullquote{
        color:tomato;
        font-style: italic;
        font-size: 1.68cm;
        line-height: 1.4em;
        padding:15px 0;
    }
    section{
        display: flex;
    }
    .image img{
        width: 50%;
        object-fit: cover ;
        object-position: 0%;
     
        display: block;
        margin-top: 3%;
        margin-left:350px;
        margin-bottom: 3%;
    }
    /* desktop media query */
    @media (min-width:960px){
        main{
            display: flex;
            flex-direction: column;
        }
    }
    .column {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
 h1 {margin-left:650px;
}
h2 {margin-left:650px;
}
